<div id="header-wrap">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
                        <a href="/" class="logo" data-dark-logo="images/logo-dark.png">
                            <img src="images/logo.png" alt="Polo Logo">
                        </a>
                    </div>
                    <!--End: Logo-->

                    <!--Top Search Form-->
                    <div id="top-search">
                        <form action="search-results-page.html" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="커피이름을 입력해주세요">
                        </form>
                    </div>
                    <!--end: Top Search Form-->

                    <!--Header Extras-->
                    <div class="header-extras">
                        <ul>
                            <li>
                                <!--top search-->
                                <a id="top-search-trigger" href="#" class="toggle-item">
                                    <i class="fa fa-search"></i>
                                    <i class="fa fa-close"></i>
                                </a>
                                <!--end: top search-->
                            </li>
                            <% if(isAuthenticated){ %>
                            <li>
                                <div class="topbar-dropdown">
                                    <a class="title"><i class="fa fa-user"></i></a>
                                    <div class="dropdown-list">
                                        <a class="list-entry" href="#">Profile</a>
                                        <a class="list-entry" href="#">Logout</a>
                                    </div>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <!--end: Header Extras-->

                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <button class="lines-button x"> <span class="lines"></span> </button>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->

                    <!--네비게이션-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <!--li><a href="/">Home</a></li-->
                                    <% if(!isAuthenticated) { %>
                                    <li class="dropdown"> <a href="/login">Login</a>
                                    </li>
                                   <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: 네비게이션-->
                </div>
            </div>